* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}

body {
  font-family: "Mulish", sans-serif;
  background: rgb(240, 236, 226);
  background-repeat: no-repeat;
  background: linear-gradient(
    180deg,
    rgba(240, 236, 226, 1) 0%,
    rgba(223, 211, 195, 1) 50%,
    rgba(199, 177, 152, 1) 100%
  );
  overflow-x: hidden;
}

.top-title {
  height: 4vh;
  align-items: center;
  display: flex;
  width: 99.1vw;
  background-color: beige;
  position: relative;
}

.title-top {
  font-size: 20px;
  position: absolute;
  right: 0;
  width: 400px;
  animation: moving 15s infinite linear;
  pointer-events: none;
}

@keyframes moving {
  0% {
    transform: translate(0, 0);
    right: -20%;
  }
  50% {
    transform: translate(-450px, 0);
    right: 25%;
  }
  100% {
    transform: translate(-900px, 0);
    right: 50%;
  }
}

.navigation {
  width: 100%;
  height: 80px;
  padding: 20px 30px;
  background-color: white;
}

.title {
  order: 2;
  font-size: 30px;
  color: black;
}

.links {
  font-size: 23px;
  font-weight: 300;
  position: relative;
}

#shopping {
  transform: scale(1.4);
  transition: transform 200ms ease-in-out;
}

#shopping:hover {
  transform: scale(1.6);
}

.links:hover::after {
  transform: scaleX(1);
}

.links::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  width: 100%;
  transition: transform 200ms ease;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  vertical-align: bottom;
  line-height: 40px;
  order: 1;
}

.title {
  order: 2;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  order: 3;
}

.nav-right li {
  margin-left: 20px;
}

.hero-image {
  position: absolute;
  top: 5em;
  right: 10em;
  animation: svgBump 600ms ease-in-out;
  animation-delay: 400ms;
  animation-fill-mode: backwards;
}
.hero {
  position: relative;
  width: 100%;
  background-image: url(/Media/dior.webp);
  z-index: -4;
  height: 85vh;
}
.hero::after{
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(/Media/calvinklien.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(2px) brightness(70%);
  z-index: -1;
   animation: up 600ms ease-in-out;
  animation-delay: 2000ms;
  animation-fill-mode: both;
}
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(/Media/calvinklien.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(2px) brightness(70%);
  z-index: -1;
   animation: up 600ms ease-in-out;
  animation-delay: 2000ms;
  animation-fill-mode: both;
}

.hero-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 400px;
  padding: 10px 20px;
  text-align: center;
  color: white;
  border: 3px solid white;
  font-size: 125%;
  animation: left 600ms ease-in-out;
  animation-delay: 2000ms;
  animation-fill-mode: both;
}
.hero-title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 290%;
  animation: bump 600ms ease-in-out;
}

@keyframes left {
  0% {
  }
  100% {
    left: 0;
    transform: translate(0, -50%);
  }
}

@keyframes up {
  0% {
  }
  100% {
    left: 0;
    transform: translate(0, -100%);
  }
}
@keyframes bump {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes svgBump {
  0% {
    top: 0em;
    opacity: 0;
  }
  100% {
    top: 5em;
    opacity: 1;
  }
}

.hero-description {
  animation: bump 600ms ease-in-out;
  animation-delay: 500ms;
  animation-fill-mode: backwards;
  width: 80%;
  margin: 0 auto;
}
.buttons {
  margin-top: 20px;
  animation: bump 600ms ease-in-out;
  animation-delay: 500ms;
  animation-fill-mode: backwards;
}

.explore {
  padding: 2.5px 5px;
  border: 2px solid;
  border-radius: 5px;
}

.learn {
  border: 2px solid;
  padding: 2.5px 5px;
  border-radius: 5px;
}

.best-selling {
}

.best-selling-title {
  padding-top: 50px;
  margin-bottom: 50px;
  font-size: 45px;
  text-align: center;
  position: relative;
}

.best-selling-container {
  padding: 10px 20px;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  position: relative;
  background-color: white;
}
.best-selling-top-svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.best-selling-bottom-svg {
  position: absolute;
  bottom: 0;
  left: 0;
}
.products {
  height: 32em;
  flex-basis: 20em;
  width: 20px;
  border-radius: 10px;
  padding: 10px 20px;
  transform: scale(1);
  background-color: rgba(225, 225, 225, 0.95);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  transition: all 200ms linear;
}

.products:hover {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.product-image {
  height: 210px;
  width: 15em;
  margin-right: auto;
  background-image: url(/Media/iphone-front.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-bottom: 10px;
}

.button-56 {
  background-color: rgba(67, 79, 189, 1);
  border: 2px solid #111;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  height: 48px;
  line-height: 24px;
  width: 80%;
  padding: 0 25px;
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.button-56:after {
  background-color: rgba(17, 17, 17, 0.9);
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #000b76;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}
.product-container-description {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 110%;
  text-align: left;
  padding: 10px 20px;
}

.product-description {
  font-size: 13px;
}

.add-to-cart {
  padding: 10px 5px;
  width: 100%;
  background-color: transparent;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 10px;
}

.categories-section {
  border: 3px solid black;
  height: 1500px;
}

.categories-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
}

.category {
  width: 300px;
  height: 600px;
  background-color: red;
  border: 3px solid black;
  flex-basis: 20%;
}

#pictures {
  aspect-ratio: 1/1;
  background-repeat: no-repeat;
  width: 30%;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  transition: background 200ms ease-in-out;
  filter: blur(5px);
}

.director {
  height: 100vh;
  background-color: #f0ece2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.director-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.director-description-container {
  width: 30%;
  text-align: center;
  padding: 2em;
  margin-left: 10%;
}

.director-picture {
  background-image: url(/Media/whiteman.avif);
  width: 500px;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
}

.director-title {
  margin-top: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.director-description {
  font-size: 20px;
}
.history {
  background-color: #dfd3c3;
  height: 100vh;
}

.features {
  height: 100vh;
  background-color: #c7b198;
}

footer {
  height: 30vh;
  background-color: #596e79;
}
